@import "mixins/custom";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "mixins/animation";
@import "mixins/navigation";
@import "mixins/footer";
@import "mixins/department";


body {
    margin: 0;

    margin-top: $navbar-height;
}

.container {
    margin-top: $navbar-height;
    min-height: 30rem;
    margin: 0;
}


main {
  display: flex;
  flex-direction: row;
}

main > router-view {
  flex: 1;
  border-top: 1px solid rgba(128, 128, 128, 0.25);
}

router-view {
  display: block;
  height: 100%;
  width: 100%;
}

.content {
  margin-left:4rem;
}

.error {
  color: theme-color("danger");
}

.success {
  color: theme-color("success");
}
