// Footer
#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    /* Set the fixed height of the footer here */
    height: $navbar-height;
    background-color: theme-color("dark");
    color: $white;
    a {
        color: $gray-200;
        margin-right: 20px;
        &:hover {
            color: $white;
            text-decoration: none;
        }
    }
}
