// Navigation
.nav-link {
    color: $gray-200;
}

.navbar-nav li.loader {
    margin: 2px 2px 0 6px;
    color: $white;
    display:none;
}

.nav-bar-left {
  height:100vh;
}

.table-hover,
.list-group-item {
    tr,
    div {
        .toolbar {
            display: none;
        }
        &:hover {
            .toolbar {
                display: inline-block;
                span {
                    color: $gray-600;
                    cursor: pointer;
                    margin: 0rem 0.25rem;
                    &:hover {
                        color: black;
                    }
                }
            }
        }
    }
}



.toolbar {
    display: inline-block;
    span, a {
        color: $gray-600;
        cursor: pointer;
        margin: 0rem 0.25rem;
        &:hover {
            color: black;
        }
    }
}



nav.main {
  background: theme-color("dark");
  border-right: 1px solid gray;
  color: $white;
}

nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav.main > ul > li > a {
  padding: 1rem;
  display: block;
  color: $gray-200;
  text-align: center;
  &:hover {
    text-decoration: none;
    color: $white;
  }
}

nav.main > ul > li > a > i {
  font-size: 22px !important;
}
nav.main > ul > li > a > span {
  font-size: 12px !important;
}

nav.main > ul > li.active > a > i {
  text-shadow: 0 0 20px white;
}

nav.main > ul > li:last-child {
  position: fixed;
  bottom: 1rem;
}
