// Navigation
.nav-link {
    color: $gray-darker;
}

.navbar-nav li.loader {
    margin: 2px 2px 0 6px;
    color: #fff
}

.table-hover,
.list-group-item {
    tr,
    div {
        .toolbar {
            display: none;
        }
        &:hover {
            .toolbar {
                display: inline-block;
                span {
                    color: $gray;
                    cursor: pointer;
                    margin: 0rem 0.25rem;
                    &:hover {
                        color: black;
                    }
                }
            }
        }
    }
}